<!-- ngIf example -->
<div *ngIf="step === 'step1'; then thenpart; else elsepart">hello i m here</div>
<ng-template #thenpart>i m then part</ng-template>
<ng-template #elsepart>i m else part</ng-template>

<!-- ngFor rxample -->

<!-- ngFor with array -->
<div *ngFor="let num of numArray">{{ num }}</div>

<!-- ngFor with obje ct -->
<div *ngFor="let alpha of alphaObj | keyvalue">{{ alpha }}</div>
<div *ngFor="let alpha of alphaObj | keyvalue">
  {{ alpha.key }} : {{ alpha.value }}
</div>

<!-- ngSwitch example -->
<!-- example 1 -->
<h2>Select Country</h2>
<select (change)="SetDropDownValue($event)">
  <option value="">Select</option>
  <option value="In">In</option>
  <option value="US">US</option>
  <option value="UK">UK</option>
</select>
<h2>You Have Selected</h2>
<div [ngSwitch]="dropDownValue">
  <h3 *ngSwitchCase="'In'">India</h3>
  <h3 *ngSwitchCase="'US'">United State</h3>
  <h3 *ngSwitchCase="'UK'">United Kingdom</h3>
  <h3 *ngSwitchDefault="">You have not selected any country</h3>
</div>

<!-- example 2 -->
<!-- <select [(ngModel)]="selectedValue"> -->
<select (change)="setDropDown($event)">
    <option value="">Select</option>
    <option *ngFor="let item of items" [value]="item.name">{{ item.name }}</option>
</select>
<div [ngSwitch]="selectedValue">
    <h3 *ngSwitchCase="'One'">one is here.</h3>
    <h3 *ngSwitchCase="'Two'">two is here.</h3>
    <h3 *ngSwitchDefault="">default is here.</h3>
</div>