<!-- Designation list selector -->
<app-designation-add
  [onEditDesignation]="editDesignation"
></app-designation-add>

<div class="container mt-4">
  <!-- designation list table -->
  <h3 class="text-center">
    <div class="dropdown">
      Designation List -
      <button
        class="btn dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
      Filter by status:
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
        <li><a (click)="onClickDropdown('all')" class="dropdown-item">All</a></li>
        <li><a (click)="onClickDropdown(true)" class="dropdown-item">Active</a></li>
        <li><a (click)="onClickDropdown(false)" class="dropdown-item">Inactive</a></li>
      </ul>
    </div>
    <!-- <labe  l for="designnation">Filter by status:</labe> -->
    <!-- <select name="designnation" (change)="getDropDowmValue($event)">
      <option value="all">All</option>
      <option value="true">Active</option>
      <option value="false">Inactive</option>
    </select> -->
    <!-- <span class="form-switch mt-2" (click)="filterStatus()"
      ><h1><fa-icon
        *ngIf="isStatus"
        (click)="isStatus = false"
        class="blue-color"
        [icon]="faToggleOn"
      ></fa-icon>
      <fa-icon
        *ngIf="!isStatus"
        (click)="isStatus = true"
        class="blue-color"
        [icon]="faToggleOff"
      ></fa-icon></h1>
    </span> -->
  </h3>
  <table class="table">
    <thead>
      <tr>
        <th (click)="onSort()">
          Title
          <fa-icon
            *ngIf="!isUp"
            (click)="isUp = true"
            class="blue-color"
            [icon]="faArrowUp"
          ></fa-icon>
          <fa-icon
            *ngIf="isUp"
            class="blue-color"
            (click)="isUp = false"
            [icon]="faArrowDown"
          ></fa-icon>
        </th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      <!-- if no data then show this -->
      <tr *ngIf="!designationService.designations.length">
        <td colspan="3" class="text-center">Data not found</td>
      </tr>
    </thead>

    <!-- loop for add designation in table -->
    <tbody
      *ngFor="
        let designation of designationService.designations
          | statusFilter: isStatus
          | paginate: { itemsPerPage: rowPerPage, currentPage: p }
      "
    >
      <tr>
        <td>{{ designation.title }}</td>
        <td>
          <h1>
            <!-- icon toggle off when status false and icon toggle on when status true  -->
            <fa-icon
              *ngIf="!designation.status"
              class="gray-color"
              (click)="onChangeStatus(designation)"
              [icon]="faToggleOff"
            ></fa-icon>
            <fa-icon
              *ngIf="designation.status"
              class="blue-color"
              (click)="onChangeStatus(designation)"
              [icon]="faToggleOn"
            ></fa-icon>
          </h1>
        </td>
        <td>
          <h1>
            <!-- icons for edit and delete -->
            <fa-icon
              class="blue-color me-3"
              [icon]="faEdit"
              (click)="onEdit(designation)"
            ></fa-icon>
            <fa-icon
              class="red-color"
              [icon]="faTrash"
              (click)="onDelete(designation)"
            ></fa-icon>
          </h1>
        </td>
      </tr>
    </tbody>
  </table>
  <div
    class="input-group justify-content-end"
    *ngIf="designationService.designations.length > 0"
  >
    <!-- <select class="custom-select mb-3" (change)="SetRowPerPage($event)">
      <option value="4">4</option>
      <option value="8">8</option>
    </select> -->
    <div class="dropdown">
      <button
        class="btn dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
      Choose Row Per Page({{ rowPerPage }})
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
        <li><a (click)="onClickRowPerPage(4)" class="dropdown-item">4</a></li>
        <li><a (click)="onClickRowPerPage(8)" class="dropdown-item">8</a></li>
      </ul>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
