<p>products works!</p>

<span
  ><a routerLink="../products" fragment="intro" (click)="jumpTo('intro')"
    >Introduction
  </a>
  <a routerLink="/products" fragment="detail" (click)="jumpTo('detail')"
    >Details
  </a>
  <a routerLink="../products" fragment="benefit" (click)="jumpTo('benefit')"
    >Benefits
  </a></span
>

<div class="container">
  <h1 id="intro">Introduction</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quod
    officia doloremque, eveniet officiis velit, natus, adipisci ea facere eaque
    quibusdam numquam error. Repellat consequuntur, minima atque adipisci fugit
    quis deleniti voluptatibus laborum ad accusamus, placeat tempora quam
    cupiditate quibusdam nihil velit vero necessitatibus obcaecati odio,
    doloribus laboriosam possimus? Explicabo illum, consectetur iure placeat sed
    itaque. Soluta modi molestiae dolorum veritatis perferendis debitis
    quibusdam obcaecati vero, libero tenetur quod aliquid quam adipisci odit,
    quidem cupiditate accusantium iste nesciunt placeat enim repudiandae?
    Adipisci tenetur animi illo quam doloremque magni corporis incidunt. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quod officia
    doloremque, eveniet officiis velit, natus, adipisci ea facere eaque
    quibusdam numquam error. Repellat consequuntur, minima atque adipisci fugit
    quis deleniti voluptatibus laborum ad accusamus, placeat tempora quam
    cupiditate quibusdam nihil velit vero necessitatibus obcaecati odio,
    doloribus laboriosam possimus? Explicabo illum, consectetur iure placeat sed
    itaque. Soluta modi molestiae dolorum veritatis perferendis debitis
    quibusdam obcaecati vero, libero tenetur quod aliquid quam adipisci odit,
    quidem cupiditate accusantium iste nesciunt placeat enim repudiandae?
    Adipisci tenetur animi illo quam doloremque magni corporis incidunt. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quod officia
    doloremque, eveniet officiis velit, natus, adipisci ea facere eaque
    quibusdam numquam error. Repellat consequuntur, minima atque adipisci fugit
    quis deleniti voluptatibus laborum ad accusamus, placeat tempora quam
    cupiditate quibusdam nihil velit vero necessitatibus obcaecati odio,
    doloribus laboriosam possimus? Explicabo illum, consectetur iure placeat sed
    itaque. Soluta modi molestiae dolorum veritatis perferendis debitis
    quibusdam obcaecati vero, libero tenetur quod aliquid quam adipisci odit,
    quidem cupiditate accusantium iste nesciunt placeat enim repudiandae?
    Adipisci tenetur animi illo quam doloremque magni corporis incidunt.
  </p>
  <h1 id="detail">Details</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quod
    officia doloremque, eveniet officiis velit, natus, adipisci ea facere eaque
    quibusdam numquam error. Repellat consequuntur, minima atque adipisci fugit
    quis deleniti voluptatibus laborum ad accusamus, placeat tempora quam
    cupiditate quibusdam nihil velit vero necessitatibus obcaecati odio,
    doloribus laboriosam possimus? Explicabo illum, consectetur iure placeat sed
    itaque. Soluta modi molestiae dolorum veritatis perferendis debitis
    quibusdam obcaecati vero, libero tenetur quod aliquid quam adipisci odit,
    quidem cupiditate accusantium iste nesciunt placeat enim repudiandae?
    Adipisci tenetur animi illo quam doloremque magni corporis incidunt. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quod officia
    doloremque, eveniet officiis velit, natus, adipisci ea facere eaque
    quibusdam numquam error. Repellat consequuntur, minima atque adipisci fugit
    quis deleniti voluptatibus laborum ad accusamus, placeat tempora quam
    cupiditate quibusdam nihil velit vero necessitatibus obcaecati odio,
    doloribus laboriosam possimus? Explicabo illum, consectetur iure placeat sed
    itaque. Soluta modi molestiae dolorum veritatis perferendis debitis
    quibusdam obcaecati vero, libero tenetur quod aliquid quam adipisci odit,
    quidem cupiditate accusantium iste nesciunt placeat enim repudiandae?
    Adipisci tenetur animi illo quam doloremque magni corporis incidunt. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quod officia
    doloremque, eveniet officiis velit, natus, adipisci ea facere eaque
    quibusdam numquam error. Repellat consequuntur, minima atque adipisci fugit
    quis deleniti voluptatibus laborum ad accusamus, placeat tempora quam
    cupiditate quibusdam nihil velit vero necessitatibus obcaecati odio,
    doloribus laboriosam possimus? Explicabo illum, consectetur iure placeat sed
    itaque. Soluta modi molestiae dolorum veritatis perferendis debitis
    quibusdam obcaecati vero, libero tenetur quod aliquid quam adipisci odit,
    quidem cupiditate accusantium iste nesciunt placeat enim repudiandae?
    Adipisci tenetur animi illo quam doloremque magni corporis incidunt.
  </p>
  <h1 id="benefit">Benefits</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quod
    officia doloremque, eveniet officiis velit, natus, adipisci ea facere eaque
    quibusdam numquam error. Repellat consequuntur, minima atque adipisci fugit
    quis deleniti voluptatibus laborum ad accusamus, placeat tempora quam
    cupiditate quibusdam nihil velit vero necessitatibus obcaecati odio,
    doloribus laboriosam possimus? Explicabo illum, consectetur iure placeat sed
    itaque. Soluta modi molestiae dolorum veritatis perferendis debitis
    quibusdam obcaecati vero, libero tenetur quod aliquid quam adipisci odit,
    quidem cupiditate accusantium iste nesciunt placeat enim repudiandae?
    Adipisci tenetur animi illo quam doloremque magni corporis incidunt.Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quod officia
    doloremque, eveniet officiis velit, natus, adipisci ea facere eaque
    quibusdam numquam error. Repellat consequuntur, minima atque adipisci fugit
    quis deleniti voluptatibus laborum ad accusamus, placeat tempora quam
    cupiditate quibusdam nihil velit vero necessitatibus obcaecati odio,
    doloribus laboriosam possimus? Explicabo illum, consectetur iure placeat sed
    itaque. Soluta modi molestiae dolorum veritatis perferendis debitis
    quibusdam obcaecati vero, libero tenetur quod aliquid quam adipisci odit,
    quidem cupiditate accusantium iste nesciunt placeat enim repudiandae?
    Adipisci tenetur animi illo quam doloremque magni corporis incidunt. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quod officia
    doloremque, eveniet officiis velit, natus, adipisci ea facere eaque
    quibusdam numquam error. Repellat consequuntur, minima atque adipisci fugit
    quis deleniti voluptatibus laborum ad accusamus, placeat tempora quam
    cupiditate quibusdam nihil velit vero necessitatibus obcaecati odio,
    doloribus laboriosam possimus? Explicabo illum, consectetur iure placeat sed
    itaque. Soluta modi molestiae dolorum veritatis perferendis debitis
    quibusdam obcaecati vero, libero tenetur quod aliquid quam adipisci odit,
    quidem cupiditate accusantium iste nesciunt placeat enim repudiandae?
    Adipisci tenetur animi illo quam doloremque magni corporis incidunt. df
  </p>
</div>

<div class="container text-center mt-5">
  <h3 class="mb-5">Drop zone angular file drag and drop example.</h3>
  <!-- Apply DropZone Directive -->
  <div app-event-blocker (drop)="storeFile($event)" class="dropzone">
    <div class="text-center">
      Drop files here.<BR />
      <p *ngIf="showPercentage">{{ percentage | percent }}</p>
      <BR />
    </div>
  </div>

  <h1 id="edit"></h1>
  <form [formGroup]="uploadForm" (ngSubmit)="uploadFile()">
    <div class="form-group">
      <input
        type="text"
        placeholder="Title"
        formControlName="title"
        class="form-control"
      />
      <div
        class="text-danger"
        *ngIf="
          uploadForm.controls['title'].touched &&
          uploadForm.controls['title'].invalid
        "
      >
        <div *ngIf="uploadForm.controls['title'].errors?.['required']">
          title is required
        </div>
        <div *ngIf="uploadForm.controls['title'].errors?.['minlength']">
          title must be atleast 3 char
        </div>
      </div>
    </div>

    <input type="file" class="mt-4" (change)="storeFile($event)" />
    <button class="btn btn-primary">Submit</button>
  </form>

  <table class="table">
    <thead>
      <th>DisplayName</th>
      <th>FileName</th>
      <th>Title</th>
      <th>Url</th>
      <th>Actions</th>
    </thead>
    <tbody *ngFor="let product of products">
      <td>{{ product.displayName }}</td>
      <td>{{ product.fileName }}</td>
      <td>{{ product.title }}</td>
      <td><img width="100" height="100" src="{{ product.url }}" /></td>
      <td>
        <button class="btn-dark me-2" (click)="onEdit(product)"><a routerLink="../products" fragment="edit" (click)="jumpTo('edit')"
          >Edit
        </a></button>
        <button class="btn-dark" (click)="onDelete(product)">Delete</button>
      </td>
    </tbody>  
  </table>
</div>
