<div class="container">
  <h2>Student List</h2>
  <!-- table to show list of students -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Gender</td>
        <td>Institute Name</td>
        <td>City</td>
        <td>Delete</td>
        <td>Details</td>
      </tr>
    </thead>
    <tbody>
      <!-- loop for show list of students in table -->
      <tr
        [ngClass]="studentsDetail.gender == 'Male' ? 'male' : 'female'"
        [ngStyle]="{
          'background-color': studentsDetail.gender == 'Male' ? 'lightblue' : 'lightpink'
        }"
      >
        <td>{{ studentsDetail.firstName }}</td>
        <td>{{ studentsDetail.lastName }}</td>
        <!-- directives for styling gender colomn -->
        <td>
          {{ studentsDetail.gender }}
        </td>
        <td>{{ studentsDetail.institute }}</td>
        <td>{{ studentsDetail.city }}</td>
        <!-- button for show particlar student details -->
        <td>
          <button class="btn btn-primary" (click)="showStudentDetails()">
            Info
          </button>
        </td>
        <!-- delete button to delete particular student details -->
        <td>
          <ng-content></ng-content>
        </td>
      </tr>
    </tbody>
  </table>
</div>
