<ng-content></ng-content>
<!-- <p *ngFor="let item of userInfo | keyvalue">{{ userInfo.value }}</p> -->
<!-- 
<table>  
    <thead>  
        <tr>  
          <td>First Name</td>            
          <td>Last Name</td>            
          <td>Gender</td>            
          <td>Institute Name</td>            
          <td>City</td>            
          <td>Delete</td>            
          <td>Details</td>            
        </tr>  
    </thead>  
    <tbody>  
        <tr *ngFor="let data of studentInfo; let i = index">  
            <td>{{ data.firstName }} </td>  
            <td>{{ data.lastName }} </td>  
            <td [ngClass]="data.gender == 'Male' ? 'male': 'female'" [ngStyle]="{'background-color' : data.gender=='Male'? 'lightblue': 'lightpink'}">{{ data.gender }} </td>  
            <td>{{ data.institute }} </td>  
            <td>{{ data.city }} </td>  
            <td><button (click)="deleteStudent( i )">Delete</button></td>  
            <td><button (click)="showData( i )">Info</button></td>  
        </tr>  
    </tbody>  
</table>  -->