<h2 class="text-center">
  {{
    onEditExternalDesignation
      ? "Edit EXTERNAL DESIGNATION MASTER "
      : "Add EXTERNAL DESIGNATION MASTER "
  }}
</h2>

<form [formGroup]="addExternalDesignationForm">
    <!-- externalDesignation title -->
    <div class="form-group input-group mx-auto" style="width: 400px" >
      <label for="textTitle" class="mt-2 me-3">Title : </label>
      <input
        type="text"
        placeholder="Enter External Designation"
        formControlName="title"
        class="form-control"
        id="textTitle"
      />

      <!-- validation -->
      <small
        class="text-danger"
        *ngIf="
          (_addExternalDesignationForm['title'].touched || isSubmittedForm) &&
          _addExternalDesignationForm['title'].invalid
        "
      >
        <small *ngIf="_addExternalDesignationForm['title'].errors?.['required']"
          >External designation is required</small
        >
        <small
          *ngIf="_addExternalDesignationForm['title'].errors?.['maxlength']"
          >External designation is allow 256 char</small
        >
        <s mall
          *ngIf="_addExternalDesignationForm['title'].errors?.['uniqueTitle']"
          >External designation must be unique</s
        >
      </small>
    </div>

    <div class="form-group input-group mx-auto mt-2" style="width: 400px" >
      <!-- status -->
    <label for="checkBoxStatus2" class="mt-2 me-2" >Status : </label>
      <div class="form-check form-switch mt-2 me-3">
      <input
        type="checkbox"
        formControlName="status"
        class="form-check-input"
        id="checkBoxStatus2"
      />
    </div>

    <!-- edit or save button -->
    <div class="input-group-append">
      <button class="btn btn-primary" (click)="onSubmit()">Save</button>
    </div>
  </div>
</form>

<!-- loader -->
<!-- <sa-spinner-circular
  *ngIf="isSpinner"
  [size]="50"
  [thickness]="100"
  [speed]="100"
  color="rgba(57, 64, 172, 1)"
  secondaryColor="rgba(172, 57, 57, 0.1)"
></sa-spinner-circular> -->