<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">Navbar w/ text</a> -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active"
          >Home</a
        >
      </li>
      <li
        class="nav-item"
        *ngIf="!(_authService.isAuthenticated$ | async); else authlinks"
      >
        <a class="nav-link" routerLink="login" routerLinkActive="active"
          >Register/Login</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active"
          >About Us</a
        >
      </li>
      <ng-template #authlinks>
        <li class="nav-item">
          <a class="nav-link" routerLink="products" routerLinkActive="active"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active"
            >Contact Us</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="_authService.logout($event)">Logout</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
