<div class="wrapper d-flex">
  <div class="sidebar">
    <ul>
      <li><a href="#">Dashboard</a></li>
      <li>
        <a
          class="dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          >Organization</a
        >

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <a>Master</a>
          </li>
          <li>
            <a (click)="onHoliday()" >Holiday</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
