<div class="container">
  <!-- externalDesignation list table -->
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>

      <!-- if no data then show this -->
      <tr *ngIf="!_externalDesignationService.externalDesignations || isNoData">
        <td colspan="3" class="text-center">Data not found</td>
      </tr>

    </thead>

    <!-- loop for designation list in table -->
    <tbody
      *ngFor="
        let designation of _externalDesignationService.externalDesignations
      "
    >
      <tr>
        <td>{{ designation.title }}</td>
        <td>
          <h1>
            <!-- icons for status true and false -->
            <fa-icon
              *ngIf="!designation.status"
              class="blue-color"
              [icon]="faToggleOff"
              (click)="designation.status = true"
            ></fa-icon>
            <fa-icon
              *ngIf="designation.status"
              class="blue-color"
              [icon]="faToggleOn"
              (click)="designation.status = false"
            ></fa-icon>
          </h1>
        </td>
        <td>
          <h1>
            <!-- icons for edit and delete -->
            <fa-icon
              class="blue-color me-3"
              [icon]="faEdit"
              (click)="onEdit(designation)"
            ></fa-icon>
            <fa-icon
              class="red-color"
              [icon]="faTrash"
              (click)="onDelete(designation)"
            ></fa-icon>
          </h1>
        </td>
      </tr>
    </tbody>
  </table>
</div>
