<h3>Switch Map example </h3>
<form #searchForm="ngForm">
    <div class="mt-2">
        <input type="text" required name="searchTerm" ngModel class="form-control" autocomplete="off">
    </div>
</form>

<hr>

<table class="table" *ngIf="searchResults.length">
    <thead>
        <tr>
            <th>No.</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody *ngFor="let result of searchResults; index as i">
        <tr>
            <th>{{ i + 1 }}</th>
            <td>{{ result.name }}</td>
        </tr>
    </tbody>
</table>