<form [formGroup]="accountDetailForm" *ngIf="!isAddBankName">
  <div class="form-group">
    <label for="userName">UserName :</label>
    <input
      formControlName="userName"
      type="text"
      class="form-control"
      placeholder="UserName"
      name="userName"
    />
    <div
      *ngIf="
        (isFormSubmitted || _accountDetailForm.userName.touched) &&
        _accountDetailForm.userName.invalid
      "
      class="alert-danger"
    >
      <div
        *ngIf="_accountDetailForm.userName.errors?.required"
        class="alert-danger"
      >
        username is required
      </div>
      <div
        *ngIf="_accountDetailForm.userName.errors?.minlength"
        class="alert-danger"
      >
        username must be at least 3 characters
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="bankName">Choose bank:</label>
    <select name="bankName" formControlName="bankName" class="form-control">
      <option value="">Choose bank</option>
      <option form *ngFor="let name of bankNames">{{ name.bankName }}</option>
    </select>
    <div
      *ngIf="
        (isFormSubmitted || _accountDetailForm.bankName.touched) &&
        _accountDetailForm.bankName.invalid
      "
      class="alert-danger"
    >
      <div
        *ngIf="_accountDetailForm.bankName.errors?.required"
        class="alert-danger"
      >
        bankName is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="balance">Balance :</label>
    <input
      type="text"
      placeholder="Balance"
      formControlName="balance"
      class="form-control"
      name="balance"
    />
    <div
      *ngIf="
        (isFormSubmitted || _accountDetailForm.balance.touched) &&
        _accountDetailForm.balance.invalid
      "
    >
      <div
        *ngIf="_accountDetailForm.balance.errors?.required"
        class="alert-danger"
      >
        balance is required
      </div>
      <div *ngIf="_accountDetailForm.balance.errors?.min" class="alert-danger">
        balance must be minimum 1000
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="accountNumber">AccountNumber :</label>
    <input
      type="text"
      placeholder="AccountNumber"
      formControlName="accountNumber"
      class="form-control"
      name="accountNumber"
      (keyup.enter)="updateValidator()"
    />
    <div
      *ngIf="
        (isFormSubmitted || _accountDetailForm.accountNumber.touched) &&
        _accountDetailForm.accountNumber.invalid
      "
    >
      <div
        *ngIf="_accountDetailForm.accountNumber.errors?.required"
        class="alert-danger"
      >
        accountNumber is required
      </div>
      <div
        *ngIf="_accountDetailForm.accountNumber.errors?.pattern"
        class="alert-danger"
      >
        accountNumber is only allow numeric value
      </div>
      <div
        *ngIf="_accountDetailForm.accountNumber.errors?.accountNumberDigits"
        class="alert-danger"
      >
        accountNumber must be required
        {{ accountNumberDigits.accountDigits }} characters
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
</form>

<button
  class="btn btn-primary"
  *ngIf="!isAddBankName"
  (click)="isAddBankName = true"
>
  Add Bank Name
</button>

<app-bank-name-add *ngIf="isAddBankName" (sendBankNames)="getBankNames($event)">
  <button class="btn btn-primary" (click)="isAddBankName = false">Back</button>
</app-bank-name-add>

<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>UserName</th>
        <th>BankName</th>
        <th>AccountNumber</th>
        <th>Balance</th>
        <th>Deposit</th>
        <th>Withdraw</th>
        <th>TotalAmount</th>
      </tr>
    </thead>
    <tbody
      app-bank-details-list [getTotalAmount]="accountDetail.totalAmount()"
      [getBankDetails]="accountDetail"
      *ngFor="let accountDetail of _bankDetailsService.bankDetails"
    ></tbody>
  </table>
</div>
