<!-- add student form -->
<p>Add Student</p>

<form action="reset()">
  <input type="text" #fname placeholder="First Name" /><br />

  <input type="text" #lname placeholder="Last Name" /><br />

  <label for="gender">Gender:</label>
  <input id="male" type="radio" name="gender" value="Male" #genderm />
  <label for="male">Male</label>
  <input id="female" type="radio" name="gender" value="Female" #genderf />
  <label for="female">Female</label><br />

  <input type="text" #institue placeholder="Institute Name" /><br />

  <input type="text" #city placeholder="City" /><br />

  <label for="description">Description</label><br />
  <textarea type="text" #description id="description"></textarea><br />

  <button (click)="addedSuccessfully()" (click)="$event.preventDefault()">
    Add student
  </button>
</form>

<app-student-info [studentsDetail]="students" (oneStudentDetail)="oneStudentDetails($event)">
</app-student-info>
