<!-- add student form -->
<div class="container"><form class="form text-center">
  <h1>Add Student</h1>
  <div class="row">
    <div class="col-4">
      <label for="fname" class="sr-only">First Name: </label>
    </div>
    <div class="col-6">
      <input
        type="text"
        class="form-control"
        name="fname"
        #fname
        placeholder="First Name"
      />
    </div>
  </div><br>
  <div class="row">
    <div class="col-4">
  <label for="lname">Last Name: </label>
  </div>
  <div class="col-6">
  <input
    type="text"
    class="form-control"
    name="lname"
    #lname
    placeholder="Last Name"
  />
  </div>
  </div><br>
  <div class="row">
    <div class="col-4">
  <label for="gender">Gender: </label>
  </div>
  <div class="col-2">
  <input id="male" type="radio" name="gender" value="Male" #genderm checked />
  <label for="male">Male</label>
  </div>
  <div class="col-2">
  <input id="female" type="radio" name="gender" value="Female" #genderf />
  <label for="female">Female</label>
  </div>
  </div><br>
  <div class="row">
    <div class="col-4">
  <label for="institute">Institute Name: </label>
  </div>
  <div class="col-6">
  <input
    type="text"
    class="form-control"
    name="institute"
    #institue
    placeholder="Institute Name"
  />
  </div>
  </div><br>
  <div class="row">
    <div class="col-4">
  <label for="city">City: </label>
</div>
<div class="col-6">
  <input
    type="text"
    class="form-control"
    name="city"
    #city
    placeholder="City"
  />
  </div>
  </div> <br>
  <div class="row">
    <div class="col-4">
  <label for="description">Description :</label>
</div>
<div class="col-6">
  <textarea
    type="text"
    class="form-control"
    #description
    name="description"
  ></textarea
  >
  </div>
  </div>
<br>
  <button
    class="btn btn-primary"
    (click)="addedSuccessfully()"
    (click)="$event.preventDefault()"
  >
    Add student
  </button>
</form>
</div>
<app-student-info
  *ngIf="studentDetailObj.firstName"
  [studentsDetail]="studentDetailObj"
  (oneStudentDetail)="oneStudentDetails($event)"
>
</app-student-info>
