<!-- ngClass example -->
<button [ngClass]="{ blueClass: blueClass }" (click)="blueClass = !blueClass">
  change color by ngClass directive
</button>

<br />

<input type="number" min="0" max="20" #numVal="ngModel" [(ngModel)]="num" />
<span [ngClass]="getColor(num)">{{ num }}</span>

<!-- both are work same here -->
<div [ngClass]="name">attribute durective example</div>
<div [ngClass]="[name]">attribute durective example</div>
<div [ngClass]="name + name">attribute durective example</div>

<p [ngClass]="{ my_class1: step === 'step1' }">with 1 condition</p>

<p [ngClass]="{ my_class1: step === 'step1', my_class2: step === 'step2' }">
  with 2 conditions
</p>

<p
  [ngClass]="{
    my_class1: step === 'step1',
    my_class2: step === 'step2',
    my_class3: step === 'step3',
    my_class4: step === 'step4'
  }"
>
  with 4 conditions
</p>

<div
  [ngClass]="
    step === 'step1'
      ? 'my_class1'
      : step === 'step2'
      ? 'my_class2'
      : 'my_class3'
  "
>
  with 3 conditions with ternary operator
</div>

<p [ngClass]="step == 'step1' ? 'my_class1' : 'my_class2'">
  with 2 conditions with (normal)ternary operator
</p>

<!-- ngStyle example -->
<p [ngStyle]="{ 'background-color': 'red' }">example ngStyle</p>
<input type="number" min="0" max="20" #numVal2="ngModel" [(ngModel)]="num" />
<p [ngStyle]="{ backgroundColor: getColorWithNgStyle(num), color: 'white' }">
  example ngStyle
</p>
<p [ngStyle]="{ 'background-color': 'blue', color: 'white' }">
  example ngStyle
</p>

<div
  class="form-group"
  [ngStyle]="{
    border: !blueClass && step == 'step1' ? '1px solid red' : ''
  }"
  [style.background-color]="step == 'step1' ? 'cyan' : 'grey'"
  [style.color]="step == 'step2' ? 'red' : 'black'"
>
  ngStyle and style binding example
</div>
<div [ngStyle]="step == 'step1' ? { color: 'red' } : { color: 'cyan' }">
  ngStyle with (normal) ternary operator
</div>
