.demo{
    color: blueviolet;
}

.blueClass{
    background-color: blue;
    color: azure;
}

.lessThan10{
    background-color: yellow;
}

.between1015{
    background-color: aqua;
}

.greaterthan15{
    background-color: teal;
}

.pragati{
    background-color: springgreen;
}

.pragatipragati{
    background-color: rgb(8, 56, 32);
    color: aquamarine;
}

.my_class1{
    background-color: darkgoldenrod;
}
.my_class2{
    background-color: rgb(240, 118, 209);
}
.my_class3{
    background-color: rgb(46, 184, 11);
}
.my_class4{
    background-color: rgb(252, 135, 135);
}
