
<!-- interval and timer -->
<!-- <app-interval></app-interval> -->

<!-- From Event -->
<!-- <app-from-event-practice></app-from-event-practice> -->

<!-- of and from -->
<!-- <app-of-from></app-of-from> -->

<!-- take -->
<!-- <app-take></app-take> -->

<!-- toArray -->
<!-- toArray - covert any type of data  in array -->
<!-- <app-to-array></app-to-array> -->

<!-- map -->
<!-- map - transfor actual data before subscribe observable -->
<!-- <app-map></app-map> -->

<!-- pluck -->
<!-- pluck - object me data ki property ko access karta he same as map but short syntex -->
<!-- <app-pluck></app-pluck> -->